# Environment variables
.env
.env.*
*.env
!.env.example

# Virtual environments
venv
venv/
myenv/
.env/
.venv/

# Data files
*.csv
venv
mlruns
*.pkl
**/__pycache__/


# ML flow
mlartifacts/
mlruns/
mlflow.db
