# Environment variables
.env
.env.*
*.env
!.env.example

# Virtual environments
venv
venv/
myenv/
.env/
.venv/

# Data files
*.csv
*.pkl

# Python cache
**/__pycache__/

# MLflow
mlruns/
mlartifacts/
mlflow.db
model/mlflow.db
